@import '../../styles/variables';
@import '../../styles/mixins';

#experiences {
  background: $base-background-reverse;
  padding-bottom: 25px;

  @include responsive(mobile) {
    height: unset;
  }

  .wrapper-experiences {
    @include flex-center-column;
    width: 70%;
    margin-top: 50px;
    

    @include responsive(tablet) {
      width: 95%;
    }
  }
}