@font-face {
  font-family: "Quicksand-Regular";
  src: url("../assets/font/Quicksand-Regular.otf");
}

@font-face {
  font-family: "Quicksand-Italic";
  src: url("../assets/font/Quicksand-Italic.otf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../assets/font/Poppins-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("../assets/font/Montserrat-Thin.ttf");
}