@import "../../styles/variables";
@import "../../styles/mixins";

.title-fade {
  @include animation("fadeInLeft 1s ease-in-out forwards");
}

.title_hidden {
  height: 50px;
}

.title {
  margin: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: $font-light;
  position: relative;
  letter-spacing: 5px;

  @include responsive(tablet) {
    padding-top: 80px;

    &:before,
    &:after {
      top: 82% !important;
    }
  }

  @include responsive(mobile) {
    padding-top: 60px;
    font-size: 1rem;
  }

  &:before,
  &:after {
    content: "";
    height: 2px;
    position: absolute;
    width: 0%;
    background-color: #a32039;
    top: 20px;
  }

  &:before {
    @include animation("lineAnim 0.5s ease-in forwards");
    margin-left: -110px;
    animation-delay: 0.9s;
  }

  &:after {
    @include animation("lineAnim 1s ease-out forwards");
    margin-left: 27px;
    animation-delay: 1.5s;
  }
}
