@import '../../styles/variables';
@import '../../styles/mixins';

#skills {
  background: $base-background;

  .container-skills {
    margin-top: 20px;

    .skill-item {
      flex-direction: column;
      background: #242d38;
      width: 100px;
      font-family: $font-regular;
      border-radius: 3px;
      font-size: 0.9rem;
      margin: 0.4%;
      padding: 8px;

      @include responsive(mobile) {
        margin: 1px;
        padding: 3px;
      }
    }

    .wrapper-skills,
    div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1000px;
      margin-bottom: 15px;

      @include responsive(tablet) {
        justify-content: center;
      }

      h2 {
        font-family: $font-italic;
        font-size: 1.2rem;
      }

      img {
        width: 5%;
        margin-left: 2%;
        margin-right: 2%;
        min-width: 40px;
        max-width: 45px;
        height: 50px;

        @include responsive(mobile) {
          min-width: 40px;
        }
      }
    }
  }
}
