@import "../../styles/variables";
@import "../../styles/mixins";

footer {
  @include flex-center;
  background: #252525;
  color: white;
  padding: 70px 0px 70px 0px;
  position: relative;

  .wrapper-footer {
    @include flex-center;
    flex-direction: column;

    .icon-footer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 300px;

      svg {
        font-size: 2.5rem;
        color: #7c7c7c;
        padding-bottom: 30px;
      }

      svg:hover {
        transition: color 0.5s;
        color: white;
        cursor: pointer;
      }
    }

    .copyright {
      color: #7c7c7c;
      font-size: 1rem;
    }
  }

  .scroll-top {
    @include flex-center;
    position: absolute;
    top: -23px;
    right: calc(50% - 20px);
    font-size: 1rem;
    background: #4e4f50;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      transition: all 0.2s ease-in-out;
      background: #566e8a;
    }
  }
}
