@import '../../styles/variables';
@import '../../styles/mixins';

.experience {
  display: flex;
  height: 130px;
  max-width: 1000px;
  min-width: 1000px;
  margin-bottom: 15px;

  @include responsive(tablet) {
    max-width: unset;
    min-width: unset;
  }

  @include responsive(mobile) {
    flex-direction: column;
    height: auto;
  }

  &#reverse {
    flex-direction: row-reverse;

    @include responsive(mobile) {
      flex-direction: column;
    }
  }

  .paragraphly {
    width: calc(100% - 120px);
    background: #243150;
    padding: 15px;
    display: flex;
    align-items: center;
    font-family: $font-ultra-light;
    font-size: 0.86rem;

    @include responsive(mobile) {
      width: auto;
    }
  }

  .company {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    width: 120px;
    background: white;

    @include responsive(mobile) {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }

    h3 {
      margin: 0;
    }

    #fortyTwo {
      width: 65px;
      padding: 15px 15px 10px 15px;
    }

    #geekzie {
      width: 65px;
      padding: 15px 15px 10px 15px;
    }

    #redpelicans {
      width: 65px;
      padding: 15px 15px 10px 10px;
    }

    #europAssistance {
      width: 80px;
      font-size: 3em;
      padding: 15px 5px 10px 5px;
    }
  }
}